<div class="card">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-@Model.Id" aria-expanded="true" aria-controls="collapse-@Model.Id">
        <div class="card-header" id="heading-@Model.Id">
            <h5 class="mb-0">
                <input type="checkbox" />
                <span id="basic-addon1">@Model.Title</span>
                @{
                    if (Model.HasInfo())
                    {
                        <span type="button" class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" title="@Model.Info">i</span>
                    }
                }
                <span class="badge badge-secondary price">£@Model.Price</span>
            </h5>
        </div>
    </button>

    <div id="collapse-@Model.Id" class="collapse show" aria-labelledby="heading-@Model.Id">
        <div class="card-body">
            @{ 
                if (Model.Body.IncludeType)
                {
                    Html.RenderPartial("_TypeView");
                }

                if (Model.Body.IncludeStatus)
                {
                    Html.RenderPartial("_StatusView");
                }

                if (Model.Body.DateFilter.Include)
                {
                    Html.RenderPartial("_DateView");
                }
            }
        </div>
    </div>
</div>