<div class="form-group row">
    <label for="input-@Model.Id" class="col-sm-2 col-form-label"><strong>Type</strong></label>
    <div class="col-sm-10 col-form-label">
        <div class="custom-control custom-radio">
            <div class="form-check form-check-inline">
                <input class="form-check-input custom-control-input" type="radio" name="gridRadios-@Model.Id" id="gridRadios-basic-@Model.Id" value="Basic">
                <label class="form-check-label custom-control-label" for="gridRadios-basic-@Model.Id">
                    Basic
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input custom-control-input" type="radio" name="gridRadios-@Model.Id" id="gridRadios-full-@Model.Id" value="Full">
                <label class="form-check-label custom-control-label" for="gridRadios-full-@Model.Id">
                    Full
                </label>
            </div>
        </div>
    </div>
</div>